# Final Project: Data Science Tools and Ecosystem

## Introduction
In this notebook, we will summarize the tools, languages, and libraries used in Data Science. We will also perform simple arithmetic operations using Python.

## Data Science Languages
The following are some of the most popular languages used in Data Science:

- Python  
- R  
- SQL  
- Julia  
- Scala

## Data Science Libraries
Here are some widely used libraries in Data Science:

- NumPy  
- Pandas  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- Keras

## Data Science Tools

| Tool              | Category                |
|-------------------|--------------------------|
| Jupyter Notebook  | Interactive Environment  |
| RStudio           | IDE for R                |
| Apache Spark      | Big Data Processing      |
| TensorFlow        | Deep Learning Framework  |
| Tableau           | Data Visualization       |

## Arithmetic Expression Examples
Below are examples of basic arithmetic expressions executed using Python code.

In [1]:
# Multiply and add numbers
result = (3 * 4) + 5
result

17

In [2]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives
In this notebook, you will learn:

- Popular languages used in Data Science  
- Common Data Science libraries  
- Common tools used by Data Scientists  
- How to perform arithmetic operations in Python  
- How to convert minutes to hours using Python

## Author
**ABC XYZ**